header {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
    flex-wrap: wrap;
}

.logo {
    width: 12.5rem;
}

.icon {
    font-size: 1.2rem;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}