header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 93px;
}

header::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(153deg, #000 -13.38%, rgba(0, 0, 0, 0.00) 64.68%);
    z-index: -1;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
    flex-wrap: wrap;
}

.logo {
    width: 12.5rem;
}

.icon {
    font-size: 1.2rem;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}