.link {
    display: flex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    padding: 0 1rem;
    transition: 0.5s;
    
}

.link:hover {
    color: #02E7F5;
}
