.carousel {
    background-color: var(--neutral-600);
    padding-inline-start: 80px;
    padding-block-end: 56px;
    gap: 56px;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--neutral-600);
}

.infos {
    padding-inline-start: 80px;
    padding-block-end: 30px;
}

.infos-p {
    color: rgba(255, 255, 255, 0.60);
}