.top-bar {
    width: 100%;
    height: 100%;
    padding-top: 14px;
    padding-bottom: 14.30px;
    padding-left: 20px;
    padding-right: 1417px;
    background: #292828;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }
  
  .circle-group {
    opacity: 0.30;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13.95px;
    display: inline-flex;
  }
  
  .circle {
    width: 15.70px;
    height: 15.70px;
    background: white;
    border-radius: 9999px;
  }
  